nav {
    font-weight: bold;
    font-size: 100%;
    position: fixed;
    top: 0;
    color: white;
    height: 70px;
    font-family: "Poppins", sans-serif;
    background-color: #0e0d0d, 0.5;
    -webkit-backdrop-filter: blur(50px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav {
    width: 0%;
    height: 0%;
    border: transparent;
    background-color: black;
    position: fixed;
    right: 0px;
    top: 0px;
    transition: width 0.3s;
}
#nav ul li a {
    color: white;
}
#menubar {
    cursor: pointer;
}
#back {
    cursor: pointer;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    margin-left: 25%;
    margin-right: 15%;
}
#nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 50px;
}
a {
    text-decoration: none;
}
#heroheader {
    font-weight: bold;
    color: black;
    -webkit-text-stroke: thin whitesmoke;
    margin-left: 15px;
}
.headers {
    margin-top: 55px;
    font-weight: bold;
    font-size: 230%;
    text-align: center;
    color: black;
    -webkit-text-stroke: thin white;
}
.writeups {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    width: 60%;
}
#aboutimg {
      border-radius: 90px;
      width: 180px;
      height: 160px;
      margin-bottom: 40px;
}
#sociallinks {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#sociallinks span {
    border: thin solid white;
    border-radius: 80px;
    padding: 10px;
}
.reach {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    padding: 50px;
}
#githubimg {
    width: 25px;
    height: 25px;
}
#techcontainer {
    display: flex;
    justify-content: center;
}
#techimg {
      width: 45px;
      height: 45px;
      padding: 15px;
}    
#imgcontainer {
    text-align: center;
} 
#name {
    padding-left: 5px;
}
#menubar {
    padding-right: 20px;
}
/*Later resize the emoji...*/
/*#emoji {
    
}*/
