* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 120px;
}

/* Fonts */

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Gravitas One;
  src: url(/assets/fonts/Gravitas_One/GravitasOne-Regular.ttf);
}

body {
  font: 0.96rem Poppins, sans-serif;
  background: whitesmoke;
  margin: 0;
  color: black;
  width: 100%;
  transition: all ease 1s;
}

.nav-sm {
  background: black;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
}

h2 {
  font-family: Gravitas One, serif;
}

.initials {
  font: 1.5rem Gravitas One, serif;
}

.menu-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-closer {
  font-size: 2rem;
  cursor: pointer;
  background: black;
  border: thin solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu-closer:hover,
.menu-closer:active,
.menu-closer:focus {
  opacity: 80%;
}

.menu {
  background: black;
  border: thin solid white;
  border-radius: 10px;
  width: 80%;
  height: 334px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 10%;
  margin: auto;
  transition: all ease 1.3s;
}

.top-minus-334 {
  top: -334px;
}

.top-normal {
  top: 150px;
}

.menu ul li {
  list-style-type: none;
  margin: 10px;
  text-align: center;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  transition: all ease 1s;
}

.menu ul li a:hover,
.menu ul li a:active,
.menu ul li a:focus {
  text-decoration: underline;
}

.hero,
.about-me,
.my-skills,
.experience,
.my-works,
.contact {
  margin: 50px 20px;
  text-align: center;
}

.about-me h2,
.my-skills h2,
.experience h2,
.my-works h2,
.contact h2 {
  margin: 10px;
}

.write-up {
  margin: 20px;
}

.hero figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 40px auto;
}

.avatar {
  width: 70%;
  height: auto;
  border: thin solid black;
  border-radius: 50%;
  cursor: pointer;
}

.hero-text-greeting {
  font: 1.5rem Gravitas One, sans-serif;
  text-align: center;
  font-weight: bold;
}

.hero-text {
  font-size: 1.1rem;
  margin: auto;
  width: 95%;
  text-align: center;
  font-weight: bold;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  gap: 15%;
  font-weight: bold;
}

.btns button {
  width: 150px;
  height: 45px;
  font: inherit;
  cursor: pointer;
  transition: all ease 1s;
}

.btns button:hover,
button:focus,
button:active {
  animation: anim 0.5s ease;
}

.download-cv-btn {
  font-size: 0.75rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: thin solid white;
}

.hire-me-btn {
  background-color: whitesmoke;
  color: black;
  border: thin solid black;
  transition: all ease 1s;
}

.hire-me-btn:hover,
.hire-me-btn:focus,
.hire-me-btn:active {
  border: 3px solid black;
}

.my-skills .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills span {
  margin: 10px;
}

.the-experience {
  border: thin solid #333;
  padding: 1.2rem;
  cursor: pointer;
}

.the-experience:hover,
.the-experience:active,
.the-experience:focus {
  animation: moveBox 1s ease;
  border: thin solid blue;
  border-radius: 10px;
}

.date {
  font-family: monospace;
  text-align: left;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.company {
  display: block;
  margin: 10px 0 10px 0;
  text-align: left;
}

.company-head {
  font-family: Gravitas One, serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.duty {
  display: block;
  margin: 10px 0 10px 0;
  text-align: left;
}

.work {
  border: thin solid #333;
  padding: 1.2rem;
  margin: 20px 0 20px 0;
}

.work:hover,
.work:active,
.work:focus {
  animation: moveBox 1s ease;
  border: thin solid blue;
  border-radius: 10px;
}

.work-image img {
  width: 99%;
  height: auto;
  margin: 20px auto;
}

.work-description {
  margin: 20px;
}

.work-links {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stacks-head {
  margin-right: 5px;
}

.stacks-used {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.contact {
  background: black;
  width: 100%;
  margin: auto 0;
  padding: 1rem;
  color: white;
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.contact form input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: thin solid black;
  margin: 10px;
  padding: 10px;
  font: inherit;
  transition: all ease 0.5s;
}

.contact form textarea {
  width: 80%;
  height: 70px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font: inherit;
  transition: all ease 0.5s;
}

.contact form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font: inherit;
  margin: 20px;
  background: black;
  color: white;
  border: thin solid white;
  cursor: pointer;
}

.contact form button img {
  margin-left: 10px;
}

.contact form label {
  text-align: left;
}

.contact form button:hover,
.contact form button:active,
.contact form button:focus {
  animation: anim 0.5s ease;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 20px;
  flex-wrap: wrap;
}

.skills span {
  cursor: pointer;
}

.github {
  background: white;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 20px;
}

.nav-lg {
  display: none;
}

input:focus, textarea:focus {
  outline: 3px solid blue;
}

.see-more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15%;
  padding: 10px;
  background: whitesmoke;
  border: thin solid black;
  cursor: pointer;
}

.see-more img {
  background: whitesmoke;
  border-radius: 50%;
}

.see-more:hover, .see-more:focus, .see-more:active {
  background-color: black;
  color: white;
}

/* Animations */
@keyframes anim {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes moveBox {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(12px);
  }
}

/* Responsive design for desktop/larger screens */
@media screen and (min-width: 824px) {
  body {
    margin: 30px auto 0 auto;
    font-size: 1.1rem;
  }

  .hero .avatar {
    width: 70%;
    height: auto;
    border: thin solid black;
    margin-top: 20%;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    margin: 5% auto 9% auto;
  }

  .hero-text-greeting {
    font-size: 1.8rem;
    margin-top: 20%;
  }

  .btns button {
    width: 180px;
    height: 50px;
  }

  .nav-sm,
  .menu {
    display: none;
  }

  .nav-lg {
    background: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
  }

  .nav-lg ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style-type: none;
  }

  .nav-lg ul:last-child {
    margin-right: 30px;
  }

  .nav-lg ul a {
    text-decoration: none;
    color: white;
    transition: all ease 1s;
  }

  .nav-lg ul a:hover,
  .nav-lg ul a:focus,
  .nav-lg ul a:active {
    text-decoration: underline;
  }

  .work {
    border: thin solid #333;
    padding: 1.2rem;
    margin: 20px 0 20px 0;
    width: 40%;
  }

  .work-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
  }

  .download-cv-btn {
    font: inherit !important;
  }
}
